In [1]:
import pandas as pd

In [5]:
data = pd.read_csv(r'E:/work/ML_prac/Data/Rocket.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          60 non-null     object
 1   Date                          300 non-null    object
 2   Time (East Coast)             59 non-null     object
 3   Location                      300 non-null    object
 4   Crewed or Uncrewed            60 non-null     object
 5   Launched?                     60 non-null     object
 6   High Temp                     299 non-null    float64
 7   Low Temp                      299 non-null    float64
 8   Ave Temp                      299 non-null    float64
 9   Temp at Launch Time           59 non-null     float64
 10  Hist High Temp                299 non-null    float64
 11  Hist Low Temp                 299 non-null    float64
 12  Hist Ave Temp                 299 non-null    float64
 13  Percipitation at Launch Time  299 non-null    float64
 14  Hist Ave Percipitation        299 non-null    float64
 15  Wind Direction                299 non-null    object
 16  Max Wind Speed                299 non-null    float64
 17  Visibility                    299 non-null    float64
 18  Wind Speed at Launch Time     59 non-null     float64
 19  Hist Ave Max Wind Speed       0 non-null      float64
 20  Hist Ave Visibility           0 non-null      float64
 21  Sea Level Pressure            299 non-null    object
 22  Hist Ave Sea Level Pressure   0 non-null      float64
 23  Day Length                    298 non-null    object
 24  Condition                     298 non-null    object
 25  Notes                         3 non-null      object
dtypes: float64(15), object(11)
memory usage: 61.1+ KB

In [35]:
data.head(5)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          60 non-null     object
 1   Date                          300 non-null    object
 2   Time (East Coast)             59 non-null     object
 3   Location                      300 non-null    object
 4   Crewed or Uncrewed            60 non-null     object
 5   Launched?                     60 non-null     object
 6   High Temp                     299 non-null    float64
 7   Low Temp                      299 non-null    float64
 8   Ave Temp                      299 non-null    float64
 9   Temp at Launch Time           59 non-null     float64
 10  Hist High Temp                299 non-null    float64
 11  Hist Low Temp                 299 non-null    float64
 12  Hist Ave Temp                 299 non-null    float64
 13  Percipitation at Launch Time  299 non-null    float64
 14  Hist Ave Percipitation        299 non-null    float64
 15  Wind Direction                299 non-null    object
 16  Max Wind Speed                299 non-null    float64
 17  Visibility                    299 non-null    float64
 18  Wind Speed at Launch Time     59 non-null     float64
 19  Hist Ave Max Wind Speed       0 non-null      float64
 20  Hist Ave Visibility           0 non-null      float64
 21  Sea Level Pressure            299 non-null    object
 22  Hist Ave Sea Level Pressure   0 non-null      float64
 23  Day Length                    298 non-null    object
 24  Condition                     298 non-null    object
 25  Notes                         3 non-null      object
dtypes: float64(15), object(11)
memory usage: 61.1+ KB

### Name, Time, Crewed, Launched, AveTemp, Temp at launch time, hist ave temp, Hist Ave Percipitation, Wind Direction

- Time
- Location
- Crewed or Uncrewed
- Launched?
- Ave Temp
- Hist Ave Percipitation
- Wind Direction
- Max Wind Speed
- Sea Level Pressure

- Day Length
- Condition
### 제거
- Name 
- Hist High Temp
- Hist Low Temp
- Percipitation at Launch Time
- Visibility
- Wind Speed at Launch Time
- Hist Ave Max Wind Speed
- Hist Ave Visibility
- Hist Ave Sea Level Pressure
- Notes

In [58]:
data['Notes'].value_counts()

Notes
Looks like we didn��t capture temp at 7pm - probably an opportunity to clean the data    1
T-Storm at night                                                                         1
Rain before launch                                                                       1
Name: count, dtype: int64

## 필요없는 col 제거

In [64]:
data.drop(['Name','Hist High Temp', 'Hist Low Temp', 
           'Percipitation at Launch Time', 'Visibility', 
           'Wind Speed at Launch Time', 'Hist Ave Max Wind Speed',
           'Hist Ave Visibility', 'Hist Ave Sea Level Pressure', 'Notes'],axis = 1, inplace = True)

In [69]:
data.head(5)

,Date,Time (East Coast),Location,Crewed or Uncrewed,Launched?,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Sea Level Pressure,Day Length,Condition
0,04-Dec-58,NaN,Cape Canaveral,NaN,NaN,75.0,68.0,71.00,NaN,65.0,0.08,E,16.0,30.22,10:26,Cloudy
1,05-Dec-58,NaN,Cape Canaveral,NaN,NaN,78.0,70.0,73.39,NaN,65.0,0.09,E,14.0,30.2,10:26,Cloudy
2,06-Dec-58,1:45,Cape Canaveral,Uncrewed,Y,73.0,0.0,60.21,62.0,65.0,0.09,NE,15.0,30.25,10:25,Cloudy
3,07-Dec-58,NaN,Cape Canaveral,NaN,NaN,76.0,57.0,66.04,NaN,65.0,0.08,N,10.0,30.28,10:25,Partly Cloudy
4,08-Dec-58,NaN,Cape Canaveral,NaN,NaN,79.0,60.0,70.52,NaN,65.0,0.09,E,12.0,30.23,12:24,Partly Cloudy

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    300 non-null    object
 1   Time (East Coast)       59 non-null     object
 2   Location                300 non-null    object
 3   Crewed or Uncrewed      60 non-null     object
 4   Launched?               60 non-null     object
 5   High Temp               299 non-null    float64
 6   Low Temp                299 non-null    float64
 7   Ave Temp                299 non-null    float64
 8   Temp at Launch Time     59 non-null     float64
 9   Hist Ave Temp           299 non-null    float64
 10  Hist Ave Percipitation  299 non-null    float64
 11  Wind Direction          299 non-null    object
 12  Max Wind Speed          299 non-null    float64
 13  Sea Level Pressure      299 non-null    object
 14  Day Length              298 non-null    object
 15  Condition               298 non-null    object
dtypes: float64(7), object(9)
memory usage: 37.6+ KB

In [76]:
data.dropna(subset=['Launched?'],inplace=True)

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 2 to 297
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    60 non-null     object
 1   Time (East Coast)       59 non-null     object
 2   Location                60 non-null     object
 3   Crewed or Uncrewed      60 non-null     object
 4   Launched?               60 non-null     object
 5   High Temp               59 non-null     float64
 6   Low Temp                59 non-null     float64
 7   Ave Temp                59 non-null     float64
 8   Temp at Launch Time     59 non-null     float64
 9   Hist Ave Temp           59 non-null     float64
 10  Hist Ave Percipitation  59 non-null     float64
 11  Wind Direction          59 non-null     object
 12  Max Wind Speed          59 non-null     float64
 13  Sea Level Pressure      59 non-null     object
 14  Day Length              59 non-null     object
 15  Condition               59 non-null     object
dtypes: float64(7), object(9)
memory usage: 8.0+ KB

In [80]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 2 to 297
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    58 non-null     object
 1   Time (East Coast)       58 non-null     object
 2   Location                58 non-null     object
 3   Crewed or Uncrewed      58 non-null     object
 4   Launched?               58 non-null     object
 5   High Temp               58 non-null     float64
 6   Low Temp                58 non-null     float64
 7   Ave Temp                58 non-null     float64
 8   Temp at Launch Time     58 non-null     float64
 9   Hist Ave Temp           58 non-null     float64
 10  Hist Ave Percipitation  58 non-null     float64
 11  Wind Direction          58 non-null     object
 12  Max Wind Speed          58 non-null     float64
 13  Sea Level Pressure      58 non-null     object
 14  Day Length              58 non-null     object
 15  Condition               58 non-null     object
dtypes: float64(7), object(9)
memory usage: 7.7+ KB

In [81]:
data.head()

,Date,Time (East Coast),Location,Crewed or Uncrewed,Launched?,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Sea Level Pressure,Day Length,Condition
2,06-Dec-58,1:45,Cape Canaveral,Uncrewed,Y,73.0,0.0,60.21,62.0,65.0,0.09,NE,15.0,30.25,10:25,Cloudy
7,03-Mar-59,13:10,Cape Canaveral,Uncrewed,Y,78.0,0.0,69.65,78.0,64.0,0.10,SE,20.0,30.13,11:38,Cloudy
12,23-Aug-61,11:04,Cape Canaveral,Uncrewed,Y,91.0,80.0,85.35,90.0,82.0,0.24,SE,20.0,30.03,12:56,Partly Cloudy
17,18-Nov-61,9:09,Cape Canaveral,Uncrewed,Y,76.0,49.0,62.00,54.0,69.0,0.08,N,12.0,30.04,10:41,Fair
22,26-Jan-62,21:30,Cape Canaveral,Uncrewed,Y,65.0,51.0,56.55,53.0,61.0,0.08,N,22.0,30.2,10:45,Fair

In [111]:
data[['Hours', 'Minutes']] = data['Time (East Coast)'].str.split(':', expand=True)

In [112]:
data.head()

,Date,Time (East Coast),Location,Crewed or Uncrewed,Launched?,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Sea Level Pressure,Day Length,Condition,Hours,minutes,Minutes
2,06-Dec-58,1:45,Cape Canaveral,Uncrewed,Y,73.0,0.0,60.21,62.0,65.0,0.09,NE,15.0,30.25,10:25,Cloudy,1,1:45,45
7,03-Mar-59,13:10,Cape Canaveral,Uncrewed,Y,78.0,0.0,69.65,78.0,64.0,0.10,SE,20.0,30.13,11:38,Cloudy,13,13:10,10
12,23-Aug-61,11:04,Cape Canaveral,Uncrewed,Y,91.0,80.0,85.35,90.0,82.0,0.24,SE,20.0,30.03,12:56,Partly Cloudy,11,11:04,04
17,18-Nov-61,9:09,Cape Canaveral,Uncrewed,Y,76.0,49.0,62.00,54.0,69.0,0.08,N,12.0,30.04,10:41,Fair,9,9:09,09
22,26-Jan-62,21:30,Cape Canaveral,Uncrewed,Y,65.0,51.0,56.55,53.0,61.0,0.08,N,22.0,30.2,10:45,Fair,21,21:30,30

In [115]:
data.drop(['Time (East Coast)','minutes'], axis=1,inplace=True)
data.head(5)

,Date,Location,Crewed or Uncrewed,Launched?,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Sea Level Pressure,Day Length,Condition,Hours,Minutes
2,06-Dec-58,Cape Canaveral,Uncrewed,Y,73.0,0.0,60.21,62.0,65.0,0.09,NE,15.0,30.25,10:25,Cloudy,1,45
7,03-Mar-59,Cape Canaveral,Uncrewed,Y,78.0,0.0,69.65,78.0,64.0,0.10,SE,20.0,30.13,11:38,Cloudy,13,10
12,23-Aug-61,Cape Canaveral,Uncrewed,Y,91.0,80.0,85.35,90.0,82.0,0.24,SE,20.0,30.03,12:56,Partly Cloudy,11,04
17,18-Nov-61,Cape Canaveral,Uncrewed,Y,76.0,49.0,62.00,54.0,69.0,0.08,N,12.0,30.04,10:41,Fair,9,09
22,26-Jan-62,Cape Canaveral,Uncrewed,Y,65.0,51.0,56.55,53.0,61.0,0.08,N,22.0,30.2,10:45,Fair,21,30

In [ ]:
data['Minutes'] = data['Minutes'].astype(int)
data['Hours'] = data['Hours'].astype(int)

data['Time'] = data['Hours']* 60 + data['Minutes']
data.head(5)

,Date,Location,Crewed or Uncrewed,Launched?,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Sea Level Pressure,Day Length,Condition,Hours,Minutes,Time
2,06-Dec-58,Cape Canaveral,Uncrewed,Y,73.0,0.0,60.21,62.0,65.0,0.09,NE,15.0,30.25,10:25,Cloudy,1,45,105
7,03-Mar-59,Cape Canaveral,Uncrewed,Y,78.0,0.0,69.65,78.0,64.0,0.10,SE,20.0,30.13,11:38,Cloudy,13,10,790
12,23-Aug-61,Cape Canaveral,Uncrewed,Y,91.0,80.0,85.35,90.0,82.0,0.24,SE,20.0,30.03,12:56,Partly Cloudy,11,4,664
17,18-Nov-61,Cape Canaveral,Uncrewed,Y,76.0,49.0,62.00,54.0,69.0,0.08,N,12.0,30.04,10:41,Fair,9,9,549
22,26-Jan-62,Cape Canaveral,Uncrewed,Y,65.0,51.0,56.55,53.0,61.0,0.08,N,22.0,30.2,10:45,Fair,21,30,1290

In [121]:
data.drop(['High Temp','Low Temp','Hours','Minutes'],axis=1,inplace=True)

In [122]:
data.head()

,Date,Location,Crewed or Uncrewed,Launched?,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Sea Level Pressure,Day Length,Condition,Time
2,06-Dec-58,Cape Canaveral,Uncrewed,Y,60.21,62.0,65.0,0.09,NE,15.0,30.25,10:25,Cloudy,105
7,03-Mar-59,Cape Canaveral,Uncrewed,Y,69.65,78.0,64.0,0.10,SE,20.0,30.13,11:38,Cloudy,790
12,23-Aug-61,Cape Canaveral,Uncrewed,Y,85.35,90.0,82.0,0.24,SE,20.0,30.03,12:56,Partly Cloudy,664
17,18-Nov-61,Cape Canaveral,Uncrewed,Y,62.00,54.0,69.0,0.08,N,12.0,30.04,10:41,Fair,549
22,26-Jan-62,Cape Canaveral,Uncrewed,Y,56.55,53.0,61.0,0.08,N,22.0,30.2,10:45,Fair,1290

In [125]:
data['Location'].value_counts()

Location
Cape Canaveral    50
Kennedy            8
Name: count, dtype: int64

In [128]:
data['Location'] = data['Location'].astype('category').cat.codes
data['Crewed or Uncrewed'] = data['Crewed or Uncrewed'].astype('category').cat.codes
data['Launched?'] = data['Launched?'].astype('category').cat.codes

In [129]:
data.head()

,Date,Location,Crewed or Uncrewed,Launched?,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Sea Level Pressure,Day Length,Condition,Time
2,06-Dec-58,0,1,1,60.21,62.0,65.0,0.09,NE,15.0,30.25,10:25,Cloudy,105
7,03-Mar-59,0,1,1,69.65,78.0,64.0,0.10,SE,20.0,30.13,11:38,Cloudy,790
12,23-Aug-61,0,1,1,85.35,90.0,82.0,0.24,SE,20.0,30.03,12:56,Partly Cloudy,664
17,18-Nov-61,0,1,1,62.00,54.0,69.0,0.08,N,12.0,30.04,10:41,Fair,549
22,26-Jan-62,0,1,1,56.55,53.0,61.0,0.08,N,22.0,30.2,10:45,Fair,1290

In [132]:
data = pd.get_dummies(data, columns=['Wind Direction','Condition'])
data.head()

,Date,Location,Crewed or Uncrewed,Launched?,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Max Wind Speed,Sea Level Pressure,...,Wind Direction_S,Wind Direction_SE,Wind Direction_SW,Wind Direction_W,Condition_Cloudy,Condition_Fair,Condition_Heavy T-Storm,Condition_Partly Cloudly,Condition_Partly Cloudy,Condition_Rain
2,06-Dec-58,0,1,1,60.21,62.0,65.0,0.09,15.0,30.25,...,False,False,False,False,True,False,False,False,False,False
7,03-Mar-59,0,1,1,69.65,78.0,64.0,0.10,20.0,30.13,...,False,True,False,False,True,False,False,False,False,False
12,23-Aug-61,0,1,1,85.35,90.0,82.0,0.24,20.0,30.03,...,False,True,False,False,False,False,False,False,True,False
17,18-Nov-61,0,1,1,62.00,54.0,69.0,0.08,12.0,30.04,...,False,False,False,False,False,True,False,False,False,False
22,26-Jan-62,0,1,1,56.55,53.0,61.0,0.08,22.0,30.2,...,False,False,False,False,False,True,False,False,False,False

In [137]:
data[['day','month','years']] = data['Date'].str.split('-', expand = True)
data['month'].value_counts()

month
Aug    7
Nov    6
Jan    6
Oct    6
May    6
Apr    5
Feb    5
Mar    4
Jul    4
Sep    4
Dec    3
Jun    2
Name: count, dtype: int64

In [139]:
dic = {'Jan' : 1,'Feb' : 2, 'Mar' : 3, 'Apr' : 4,'Mar' : 5,'Jun' : 6,
       'Jul' : 7,'Aug' : 8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}
data['month'] = data['month'].map(dic)

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 2 to 297
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      58 non-null     object
 1   Location                  58 non-null     int8
 2   Crewed or Uncrewed        58 non-null     int8
 3   Launched?                 58 non-null     int8
 4   Ave Temp                  58 non-null     float64
 5   Temp at Launch Time       58 non-null     float64
 6   Hist Ave Temp             58 non-null     float64
 7   Hist Ave Percipitation    58 non-null     float64
 8   Max Wind Speed            58 non-null     float64
 9   Sea Level Pressure        58 non-null     object
 10  Day Length                58 non-null     object
 11  Time                      58 non-null     int32
 12  Wind Direction_E          58 non-null     bool
 13  Wind Direction_N          58 non-null     bool
 14  Wind Direction_NE         58 non-null     bool
 15  Wind Direction_NW         58 non-null     bool
 16  Wind Direction_S          58 non-null     bool
 17  Wind Direction_SE         58 non-null     bool
 18  Wind Direction_SW         58 non-null     bool
 19  Wind Direction_W          58 non-null     bool
 20  Condition_Cloudy          58 non-null     bool
 21  Condition_Fair            58 non-null     bool
 22  Condition_Heavy T-Storm   58 non-null     bool
 23  Condition_Partly Cloudly  58 non-null     bool
 24  Condition_Partly Cloudy   58 non-null     bool
 25  Condition_Rain            58 non-null     bool
 26  day                       58 non-null     object
 27  month                     52 non-null     float64
 28  years                     58 non-null     object
dtypes: bool(14), float64(6), int32(1), int8(3), object(5)
memory usage: 8.7+ KB

In [141]:
data.head()

,Date,Location,Crewed or Uncrewed,Launched?,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Max Wind Speed,Sea Level Pressure,...,Wind Direction_W,Condition_Cloudy,Condition_Fair,Condition_Heavy T-Storm,Condition_Partly Cloudly,Condition_Partly Cloudy,Condition_Rain,day,month,years
2,06-Dec-58,0,1,1,60.21,62.0,65.0,0.09,15.0,30.25,...,False,True,False,False,False,False,False,06,12.0,58
7,03-Mar-59,0,1,1,69.65,78.0,64.0,0.10,20.0,30.13,...,False,True,False,False,False,False,False,03,5.0,59
12,23-Aug-61,0,1,1,85.35,90.0,82.0,0.24,20.0,30.03,...,False,False,False,False,False,True,False,23,8.0,61
17,18-Nov-61,0,1,1,62.00,54.0,69.0,0.08,12.0,30.04,...,False,False,True,False,False,False,False,18,11.0,61
22,26-Jan-62,0,1,1,56.55,53.0,61.0,0.08,22.0,30.2,...,False,False,True,False,False,False,False,26,1.0,62

In [147]:
data.drop(['Day Length'],axis=1,inplace=True)

In [ ]:
data['Sea Level Pressure'] = data['Sea Level Pressure'].astype(float)
data['day'] = data['day'].astype(str)
data['years'] = data['years'].astype(str)
data['month'] = data['month'].astype(str)

In [160]:

data['Date'] = '19'+ data['years'].astype(str) + data['month'].astype(str) + data['day'].astype(str)

In [158]:
data.head()

,Date,Location,Crewed or Uncrewed,Launched?,Ave Temp,Temp at Launch Time,Hist Ave Temp,Hist Ave Percipitation,Max Wind Speed,Sea Level Pressure,...,Wind Direction_W,Condition_Cloudy,Condition_Fair,Condition_Heavy T-Storm,Condition_Partly Cloudly,Condition_Partly Cloudy,Condition_Rain,day,month,years
2,1958.012.06.0,0,1,1,60.21,62.0,65.0,0.09,15.0,30.25,...,False,True,False,False,False,False,False,6.0,12.0,58.0
7,1959.05.03.0,0,1,1,69.65,78.0,64.0,0.10,20.0,30.13,...,False,True,False,False,False,False,False,3.0,5.0,59.0
12,1961.08.023.0,0,1,1,85.35,90.0,82.0,0.24,20.0,30.03,...,False,False,False,False,False,True,False,23.0,8.0,61.0
17,1961.011.018.0,0,1,1,62.00,54.0,69.0,0.08,12.0,30.04,...,False,False,True,False,False,False,False,18.0,11.0,61.0
22,1962.01.026.0,0,1,1,56.55,53.0,61.0,0.08,22.0,30.2,...,False,False,True,False,False,False,False,26.0,1.0,62.0

In [161]:
data.drop(['Date'],axis=1,inplace=True)

In [163]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 2 to 297
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Location                  58 non-null     int8
 1   Crewed or Uncrewed        58 non-null     int8
 2   Launched?                 58 non-null     int8
 3   Ave Temp                  58 non-null     float64
 4   Temp at Launch Time       58 non-null     float64
 5   Hist Ave Temp             58 non-null     float64
 6   Hist Ave Percipitation    58 non-null     float64
 7   Max Wind Speed            58 non-null     float64
 8   Sea Level Pressure        58 non-null     object
 9   Time                      58 non-null     int32
 10  Wind Direction_E          58 non-null     bool
 11  Wind Direction_N          58 non-null     bool
 12  Wind Direction_NE         58 non-null     bool
 13  Wind Direction_NW         58 non-null     bool
 14  Wind Direction_S          58 non-null     bool
 15  Wind Direction_SE         58 non-null     bool
 16  Wind Direction_SW         58 non-null     bool
 17  Wind Direction_W          58 non-null     bool
 18  Condition_Cloudy          58 non-null     bool
 19  Condition_Fair            58 non-null     bool
 20  Condition_Heavy T-Storm   58 non-null     bool
 21  Condition_Partly Cloudly  58 non-null     bool
 22  Condition_Partly Cloudy   58 non-null     bool
 23  Condition_Rain            58 non-null     bool
 24  day                       58 non-null     object
 25  month                     52 non-null     float64
 26  years                     58 non-null     object
dtypes: bool(14), float64(6), int32(1), int8(3), object(3)
memory usage: 7.8+ KB

In [169]:
data['Wind Direction_E'] = data['Wind Direction_E'].astype(int)
data['Wind Direction_N'] = data['Wind Direction_N'].astype(int)
data['Wind Direction_NE'] = data['Wind Direction_NE'].astype(int)
data['Wind Direction_NW'] = data['Wind Direction_NW'].astype(int)
data['Wind Direction_S'] = data['Wind Direction_S'].astype(int)
data['Wind Direction_SE'] = data['Wind Direction_SE'].astype(int)
data['Wind Direction_SW'] = data['Wind Direction_SW'].astype(int)
data['Wind Direction_W'] = data['Wind Direction_W'].astype(int)
data['Condition_Cloudy'] = data['Condition_Cloudy'].astype(int)
data['Condition_Fair'] = data['Condition_Fair'].astype(int)
data['Condition_Heavy T-Storm'] = data['Condition_Heavy T-Storm'].astype(int)
data['Condition_Partly Cloudly'] = data['Condition_Partly Cloudly'].astype(int)
data['Condition_Partly Cloudy'] = data['Condition_Partly Cloudy'].astype(int)
data['Condition_Rain'] = data['Condition_Rain'].astype(int)
data['day'] = data['day'].astype(float)
data['years'] = data['years'].astype(float)

In [170]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 2 to 297
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Location                  58 non-null     int8
 1   Crewed or Uncrewed        58 non-null     int8
 2   Launched?                 58 non-null     int8
 3   Ave Temp                  58 non-null     float64
 4   Temp at Launch Time       58 non-null     float64
 5   Hist Ave Temp             58 non-null     float64
 6   Hist Ave Percipitation    58 non-null     float64
 7   Max Wind Speed            58 non-null     float64
 8   Sea Level Pressure        58 non-null     object
 9   Time                      58 non-null     int32
 10  Wind Direction_E          58 non-null     int32
 11  Wind Direction_N          58 non-null     int32
 12  Wind Direction_NE         58 non-null     int32
 13  Wind Direction_NW         58 non-null     int32
 14  Wind Direction_S          58 non-null     int32
 15  Wind Direction_SE         58 non-null     int32
 16  Wind Direction_SW         58 non-null     int32
 17  Wind Direction_W          58 non-null     int32
 18  Condition_Cloudy          58 non-null     int32
 19  Condition_Fair            58 non-null     int32
 20  Condition_Heavy T-Storm   58 non-null     int32
 21  Condition_Partly Cloudly  58 non-null     int32
 22  Condition_Partly Cloudy   58 non-null     int32
 23  Condition_Rain            58 non-null     int32
 24  day                       58 non-null     float64
 25  month                     52 non-null     float64
 26  years                     58 non-null     float64
dtypes: float64(8), int32(15), int8(3), object(1)
memory usage: 10.2+ KB

In [180]:
data.dropna(axis=0,inplace=True)

In [181]:
data.isnull().sum()

Location                    0
Crewed or Uncrewed          0
Launched?                   0
Ave Temp                    0
Temp at Launch Time         0
Hist Ave Temp               0
Hist Ave Percipitation      0
Max Wind Speed              0
Sea Level Pressure          0
Time                        0
Wind Direction_E            0
Wind Direction_N            0
Wind Direction_NE           0
Wind Direction_NW           0
Wind Direction_S            0
Wind Direction_SE           0
Wind Direction_SW           0
Wind Direction_W            0
Condition_Cloudy            0
Condition_Fair              0
Condition_Heavy T-Storm     0
Condition_Partly Cloudly    0
Condition_Partly Cloudy     0
Condition_Rain              0
day                         0
month                       0
years                       0
dtype: int64

In [182]:
from sklearn.model_selection import train_test_split
X = data[[
    'Location',
    'Crewed or Uncrewed',
    'Ave Temp',
    'Temp at Launch Time',
    'Hist Ave Temp',
    'Hist Ave Percipitation',
    'Max Wind Speed',
    'Sea Level Pressure',
    'Time',
    'Wind Direction_E',
    'Wind Direction_N',
    'Wind Direction_NE',
    'Wind Direction_NW',
    'Wind Direction_S',
    'Wind Direction_SE',
    'Wind Direction_SW',
    'Wind Direction_W',
    'Condition_Cloudy',
    'Condition_Fair',
    'Condition_Heavy T-Storm',
    'Condition_Partly Cloudly',
    'Condition_Partly Cloudy',
    'Condition_Rain',
    'day',
    'month',
    'years'
]]
y = data['Launched?']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(41, 26)
(11, 26)
(41,)
(11,)

In [183]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1

### 슈발 데이터 개수때문에 학습이 안됨 ㅋㅋ